/* font import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Font face */
@font-face {
  font-family: "estrela";
  src: url("/HTML_PROJECT/assets/icomoon.woff"); /* Ajuste o caminho */
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

/*Config-Geral*/

html, 
body {
    width: 100%;
    overflow-x: hidden;
    background: radial-gradient(#ffce8e, #f78b00);
    scroll-behavior: smooth;
    transition: background-color 0.3s;
    transition: font-size 0.3s ease;
}

/* Estilo da área principal (main) */
main {
    flex: 1; /* Isso vai garantir que o main ocupe o espaço restante disponível */
}

/* Modificar o header */

body.high-contrast {
    background: #333;
    color: white;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

body.high-contrast header {
    background-color: #222;
    color: white;
    transition: background-color 0.3s;
}

/* Modificar as sections */
body.high-contrast section {
    background-color: #333;
    color: white;
}

/* Estilo para o footer no modo de contraste */
body.high-contrast footer {
    background-color: #444; /* Fundo preto no modo de contraste */
    color: white; /* Cor do texto branca no modo de contraste */
}

body.high-contrast footer a {
    color: #f78b00; /* Links do footer em cor laranja */
}

/* Modificar o 'last' (último bloco) */
body.high-contrast .last {
    background-color: #111;
    transition: background-color 0.3s;
    color: white;
}

/* Modificar os links */
body.high-contrast a {
    color: #f78b00; /* Links em laranja */
    text-decoration: none; /* Remover sublinhado */
}

body.high-contrast header a {
    color: #f78b00;
}

body.high-contrast ul li a:hover {
    color: #ffffff83;
}

/* Alterando o comportamento dos ícones no footer */
body.high-contrast .footer-social img {
    filter: brightness(0) invert(1); /* Inverter cores para ícones sociais visíveis */
}

/* Modificar o texto nos botões */
body.high-contrast button {
    background-color: #555;
    color: white;
    border-radius: 5px;
}

body.high-contrast button:hover {
    background-color: #777;
}

body.high-contrast main {
    background-color: #333;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

body.high-contrast main h1 {
    color: white;
}

body.high-contrast footer .main {
    background-color: #444;
}

/* Estilo do painel de acessibilidade */
.accessibility-controls {
    font-size: 16px;
    position: fixed;
    bottom: 80px; /* Distância inicial de onde o botão está */
    right: 20px; /* Posiciona à direita */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(228, 226, 223, 0.5);
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Inicialmente movido para baixo */
    visibility: hidden; /* Inicialmente oculto */
    transition: opacity 0.5s ease, transform 0.5s ease-in-out; /* Animações de opacidade e movimento */
    z-index: 9999;
}

/* Mostrar o painel com animação */
.accessibility-controls.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Ao aparecer, o painel desliza para o lugar correto */
}

/* Estilo para o botão de abrir acessibilidade */
#open-accessibility {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(205, 142, 17, 0.5);
    cursor: pointer;
    z-index: 10000;
}

/* Estilo para o botão de fechar */
#close-accessibility {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accessibility-controls button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Modificar o painel de acessibilidade */
body.high-contrast .accessibility-controls {
    background-color: #444;
    color: white;
}

body.high-contrast #open-accessibility button {
    background-color: #555;
    border-radius: 5px;
    color: white;
}

/* Estilo do botão quando o modo de alto contraste está ativado */
body.high-contrast #open-accessibility {
    background-color: #f78b00; /* Cor de fundo laranja */
    color: white; /* Cor do texto em branco */
}

/* Estilo do botão quando o modo de contraste não está ativado */
body:not(.high-contrast) #open-accessibility {
    background-color: #fff;
    color: black;
}

/*Cabeçalho*/

header {
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*Navegação*/

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand  {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
}

.brand a {
    text-decoration: none;
}

nav .brand .logo {
    width: 130px;
    height: 130px;
    margin-left: 20px;
}

.brand a:visited {
    color: inherit; /* Garante que a cor não mude após clicar */
}


nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;  /* Alinha todos os itens verticalmente ao centro */
    justify-content: flex-start;  /* Alinha à esquerda */
    margin-right: 20px;  /* Garantir um pequeno espaço da direita */
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;  /* Alinha o texto e o ícone no centro */
}

nav ul li span {
    color: var(--orange);  /* Cor do texto */
    font-weight: bold;  
    font-size: 1.2em;  
    padding: 5px 10px;  
    border-radius: 5px;  
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    color: #00285f83;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color:  var(--blue);
    font-weight: bold;
    border-radius: 4px;

}

nav ul button:hover {
    transition: background, color 0.5s;
    background: var(--blue);
    color: white;
}

/* Login/Logout Button Styles */
.login-button, .logout-button {
    background-color: #4CAF50; /* Cor padrão para o botão de login */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.logout-button {
    background-color: #f44336; /* Cor para logout */
}

/* Hover effects */
.login-button:hover, .logout-button:hover {
    opacity: 0.8;
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 470px;
    position: relative;
    z-index: 10;
    padding: 10px;
}

.header-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.carousel-header {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.imagens-header {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-header img {
    width: 1000px;
    height: 470px;
}

.button-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.prev-header {
    left: 10px;
}

.next-header {
    right: 10px;
}

.fade-header {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade-header {
    from {opacity: 0.4}
    to {opacity: 1}
 }

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Contêiner que agrupa o nome do usuário e o ícone */
.user-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    
}

.user-container:hover {
        transition: 0.3s ease;
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 5px;
}

/* Ícone do usuário */
.user-icon {
    margin-left: 5px;
    font-size: 14px;
    color: var(--blue);
}

/* Dropdown menu */
.dropdown-menu {
    display: none; /* Oculto por padrão */
    position: absolute;
    top: 35px; /* Alinha abaixo do nome */
    right: 0; /* Alinha à direita do dropdown */
    background-color: white;
    border: 1px solid #ddd;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    padding: 5px 0;
}

/* Links no dropdown */
.dropdown-menu li {
    list-style: none;
    padding: 10px 15px;
}

.dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--blue);
    display: block;
}

.dropdown-menu li a:hover {
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
}

/* Exibir o menu quando a classe "active" for adicionada */
.dropdown.active .dropdown-menu {
    display: block;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

main a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-container label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}


.reviews {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adiciona o espaçamento entre as avaliações */
}

.review {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.review h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    font-size: 1.5em;
    color: #ccc;
    margin-bottom: 10px;
}

.star.filled {
    color: gold; /* Cor das estrelas preenchidas */
}

.star {
    margin-right: 5px;
    cursor: pointer;
}

.review p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.review a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

.review a:hover {
    text-decoration: underline;
}

/* Efeito de hover e transição nas estrelas */
.stars {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    color: #ccc; /* Cor das estrelas vazias */
    transition: transform 0.3s ease; /* Suaviza a transição do efeito de aumento */
}

.star {
    transition: color 0.3s, transform 0.2s ease; /* Suaviza a transição de aumento e mudança de cor */
}

/* Efeito quando o mouse passa por cima da estrela */
.star:hover {
    transform: scale(1.2); /* Aumenta o tamanho da estrela em 20% */
}

/* Quando a estrela estiver selecionada (nota do usuário) */
.star.filled {
    color: gold; /* Cor das estrelas preenchidas */
}

/* Estilo da textarea */
textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    resize: none;
    box-sizing: border-box; /* Para garantir que o padding não afete a largura total */
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

/* Estilo do botão */
.save {
    padding: 12px 25px;
    background-color: #007BFF;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save button:hover {
    background-color: #0056b3;
}

.game-image {
    width: 40%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/*Rodapé*/

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    margin-top: 35vh;
    width: 100%;
    height: 200px;
    background-color: var(--orange);
    padding: 20px 0px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company, .footer-rental, .footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;   
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links h6 {
    margin-bottom: 8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Resposividade*/

@media (max-width: 576px) {
    nav ul li {
        display: none;
    }

    .header-block img {
        width: 540px;
    }

    .header-block .text {
        position: absolute;
        bottom: 10%;
        left: 15%;
    }

    section .filter-card {
        width: 390px;
        padding: 0px 10px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
    }

    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .card-item img {
        width: 50%;
        padding: 0px 10px;
    }
    .card-adm img {
        width: 50%;
        padding: 0px 10px;
    }
    .card-sec img {
        width: 30%;
        padding: 0px 10px;
    }

    .galery {
        margin-top: 100px;
    }

    .galery img {
        width: 390px;
        padding: 0px 10px;
    }

    .texto {
        margin-bottom: 20px;
    }

    .galery-content {
        flex-direction: column;
        height: 100%;
    }

    .features {
        height: 100%;
    }

    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        padding-left: 10%;
    }
}